body {
  font-family: arial, Verdana, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-family: arial, Verdana, sans-serif;
  background-color: #6699ff;
  color: white;
  padding: 10px;
  opacity: 0.9;
}

#left {
  background-color: #99ccff;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 120%;
  color: white;
  width: 48%;
  float: left;
  padding-bottom: 9999px;
}

#right {
  background-color: #99ccff;
  margin-left: 5px;
  font-size: 120%;
  color: white;
  padding-left: 10px;
  float: right;
  width: 48%;
  padding-bottom: 9999px;
}

.greenCorrect {
  color: green;
}

.redWrong {
  color: red;
}

.otterImage {
  height: 300px;
  width: auto;
}
